*, * ::before, *::after {
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, lightgreen, blue);
}

.calculadora {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculadora > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: lightgray;
}

.calculadora > button:hover {
  background-color: lightyellow;
}

.btn-x2 {
  grid-column: span 2;
}

.display {
  grid-column: 1 / -1;
  background-color: black ;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.display .ultima-operacao {
  color: lightgrey;
  font-size: 1.5rem;
}

.display .operacao-atual {
  color: white;
  font-size: 2.5rem;
}